/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles
!/subprojects/ImGuizmo
!/subprojects/ImGuiFileDialog
!/subprojects/ImFileDialog
!/subprojects/imnodes
!/subprojects/minijson_writer
/builddir/
/prefix/

imgui.ini
*~
out.vrma
