/subprojects/*
!/subprojects/packagefiles
!/subprojects/asio.wrap
!/subprojects/cuber.wrap
!/subprojects/DirectXMath.wrap
!/subprojects/glew.wrap
!/subprojects/glfw.wrap
!/subprojects/gltfjson.wrap
!/subprojects/grapho.wrap
!/subprojects/gtest.wrap
!/subprojects/IconFontCppHeaders.wrap
!/subprojects/im_neo_sequencer.wrap
!/subprojects/imgui.wrap
!/subprojects/luajit.wrap
!/subprojects/spanmath.wrap
!/subprojects/stb.wrap
!/subprojects/ImGuizmo
!/subprojects/ImGuiFileDialog
!/subprojects/ImFileDialog
!/subprojects/imnodes
!/subprojects/minijson_writer
/builddir/
/prefix/

imgui.ini
*~
out.vrma
tmp.*
